h1 {
    color: white;
    font-size: 40px;
    margin: 10px;
    padding-top: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float:left;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    font-size: 22px;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: cadetblue;
}

#heading-content {
    background-color: #2F2FA2;
    padding: 0;
    margin: 0;
}
#video-1 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    top: 0;
}
body {
    margin: 0;
}