h1 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin: 10px;
    padding-top: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

#main-h2 {
    text-align: center;
    color: white;
}
#about-h2{
    margin: 10px;
    padding: 10px;
}
li {
    float:left;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: white;
    font-size: 22px;
}

li a:hover {
    background-color: #111;
}
.active {
    background-color: cadetblue;
}

#heading-content {
    background-color: #2F2FA2;
    padding: 0;
    margin: 0;
}
#video-1 {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    top: 0;
}
#box {
    display: inline-block;
    width: 300px;
    height: 200px;
    border: 3px solid gray;
    padding-top: 0px;
    padding: 30px;
    margin: 60px;
    margin-top: 0px;
    box-shadow: 5px 5px 3px gray;
    text-align: center;
    background-color: lightblue;
}
#h3-box {
    padding: 0px;
    margin: 0px;
    top: 0;
}
#p-box {
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0;
}